<h1>All your lists</h1>
<%= link_to "New list",  new_list_path  %>

<% @lists.each do |list| %>
  <%= link_to list_path(list) do %>
    <div>
      <h2><%= list.name%> - <%= list.bookmarks.count %></h2>
    </div>
  <% end %>
<% end %>
