<div class="container">
  <div class="form-bck shadow">
    <h1>Create your list</h1>

    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.input :imgurl %>
      <%= f.submit %>

    <% end %>
  </div>
</div>
