.card-movie {
  background-color: $bck1;
  width: 700px;

  h2 {
    color: $bck2;
    margin: 0;
    padding: 0;
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: $bck3;
  }

  p {
    color: $bck2;
  }
}
